@{
    ViewBag.Title = "杨 帆";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong title="Phone">电 话:</strong>
    18161222015
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:173838362@qq.com">173838362@qq.com</a><br />
   
</address>